<div style="display: flex">
  <div class="flex-box" style="flex-direction: column">
    <ng-container *ngFor="let item of filelist; let i = index">
      <button
        (click)="downloadLastImage(item)"
        *ngIf="i != filelist.length - 1"
      >
        {{ item.name }}
      </button>
    </ng-container>
  </div>
  <div class="flex-box">
    <img [src]="lastImage" class="image" />
    <button (click)="downloadLastImage(filelist[filelist.length - 1])">
      Download
    </button>
  </div>
</div>
