<main class="container">
  <div class="wrapper" *ngIf="!isLoading">
    <div class="last">
      <h1 class="title">The most recent data :</h1>
      <img
        class="last-data"
        *ngIf="!type.includes('mp4')"
        [srcset]="lastImage"
        src="assets/loading.jpeg"
      />
      <video
        class="last-data"
        autoplay
        controls
        *ngIf="type.includes('mp4') && lastImage"
      >
        <source [src]="lastImage" type="video/mp4" />
      </video>
      <button
        class="download-btn"
        *ngIf="lastImage"
        (click)="downloadLastImage(filelist[filelist.length - 1])"
      >
        Download
      </button>
    </div>
    <ul class="rest-data-wrapper">
      <h1 class="title">Previous data :</h1>
      <div class="rest-data">
        <ng-container
          *ngFor="let item of filelist | slice : 0 : -1; let i = index"
        >
          <li class="list">
            <a class="link" (click)="downloadLastImage(item)">
              {{ item.name }}
            </a>
          </li>
        </ng-container>
      </div>
    </ul>
  </div>
  <div class="loader">
    <app-loader *ngIf="isLoading"></app-loader>
  </div>
</main>
